@import '../../settings';

.createrecipe_container_box {
    display: flex;
    justify-content: center;
    flex-direction: column;



    .createrecipe_container_form {
        width: 30%;
        padding: 3rem;
        margin: auto;
        background-color: $thirdColor;
        border-radius: 20px;
        border: 2px solid $firstColor;
    
        
    
        .createrecipe_container_form_content {
    
            &_item  {
                display: flex;
                flex-direction: column-reverse;
                padding: 20px;
    
                .createrecipe_container_form_form-input {
                    margin: auto;
                    
                }
            }
        }  
    }

}
