@import '../../settings';

.createrecipe_container_box {

    display: flex;
    flex-direction: column;
    align-items: center;
    .createrecipe_container_form {
        display: flex ;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        padding: 3rem;
        background-color: $thirdColor;
        border-radius: 20px;
        border: 2px solid $firstColor;
    
        
    
        .createrecipe_container_form_content {
            display: flex;
            //flex-direction: column;
            //padding: 0;
    
            &_item  {
                display: flex;
                flex-direction: column-reverse;
                padding: 20px;
    
                .createrecipe_container_form_form-input {
                    margin: auto;
                    
                }
            }
        }  
    }

}
