@import '../../settings';

.navbar_container {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    padding: 7px;
    border-bottom: $fifthColor solid 2px;
    font-weight: bold;
    font-size: 0.9rem;

    svg {
        font-size: 50px;
    }

    &_links {
        display: flex;
        justify-content: flex-start;
        margin-left: 45px;        
        li {
            margin-right: 30px;
            transition: ease-in-out 0.4s;
            &:hover {
                color: $firstColor;
                cursor: pointer;
            }
        }
    }
    &_buttons {
        display: flex;
        justify-content: space-between;
        position: fixed;
        right: 0px;
        li {
            margin-right: 30px;
            transition: ease-in-out 0.4s;
            
            &:hover {
                color: $firstColor;
                cursor: pointer;
            }
        }
    }
}

