@import '../../settings';

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: $firstColor solid 2px;
    font-weight: bold;

    svg {
        font-size: 50px;
    }

    &_links {
        width: 70%;
        display: flex;
        justify-content: flex-start;
        
        li {
            margin-right: 30px;
            transition: ease-in-out 0.4s;
            &:hover {
                color: $firstColor;
                cursor: pointer;
            }
        }
    }

    &_buttons {
        display: flex;
    }
}

