//color

$firstColor: #D37143;
$secondColor: #E99B49;
$thirdColor: #E1D6C1;
$fourthColor: #B8D2C6;
$fifthColor: #8DA69E;

$animate: all 0.2s ease-in-out;

* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //text-align: center;
}

h1 {
    color: $firstColor;
}

